/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* prettier-ignore */
ol, ul {
	list-style: none;
}
/* prettier-ignore */
blockquote, q {
	quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* prettier-ignore */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --main: 'IBM Plex Sans', 'sans-serif';
  --title: 'IBM Plex Serif', 'serif';
  --code: 'monospace';
  --text: #000000;
  --bg: #ffffff;

  --light-gray: #808080;
  --off-white: #b2b2b2;
  --dark-gray: #0f1417;
  --gray: #272b2e;
  --red: #db4817;
  --orange: #e0a632;
  --aqua: #04868a;
  --green: #a8e4a0;
  --blue: #46c2ff;
}

body {
  line-height: 1;
  background-color: var(--bg);
  color: var(--text);
}

@keyframes fade {
  100% {
    opacity: 100%;
    visibility: visible;
  }
}

@media screen and (min-width: 11.5in) {
  body {
    background-color: var(--light-gray);
  }

  .wrapper {
    background-color: var(--bg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    max-width: 11in;
    margin: 0.5in auto;
    height: max-content;
    padding-bottom: 2rem;
    visibility: hidden;
    opacity: 0;
  }
}

@media print {
  @page {
    margin: 0;
  }

  html {
    font-size: 78%;
  }

  body {
    margin: 0;
    overflow: hidden;
  }
}
